<h1>BOOKS</h1>
{{#each books}}
<hr>
    <p><a href="book/{{this._id}}">{{this.title}}</a></p>
    <p><a href="book/{{this._id}}">{{this.country}}</a></p>
    <p><img src="{{imageLink}}" /></p>
<hr>
{{/each}}